@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

* {
    font-family: 'Vollkorn', serif;
}

body {
    margin-left: 10%;
    margin-right: 10%;
}

header {
    background-color:  rgb(99, 197, 253);
    background-image: url(img/pattern.png);
    background-size: auto 200px;
    margin: 0 auto 5px;
}

.logo {
    padding: 30px 5px 5px 0px;
    width: 300px;
}

section {
    margin-bottom: 10px;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 5px;
}

#author {
    color: rgb(0, 129, 250);
}

.subtitle {
    font-size: 15px;
    font-weight: 700;
}

.little {
    font-size: 12px;
}

.gray {
    color: grey;
}

.highlighted {
    background-color: yellow;
}

table {
    border-collapse: collapse;
}

th {
    color: white;
    background-color:blue;
    white-space: nowrap;
}

tr td, thead th {
    padding-right: 50px;
}

.lightblu {
    background-color:lightblue;   
}

.other {
    font-weight: 600;
    font-size: 20px;
    color: lightgray;
    margin-bottom: 5px;
}

.photofooter {
    height: 207px;
    width: 311px;
    font-size: 20px;
    color: white;
    font-weight: 800;
    background-size: cover;
    margin-bottom: 7px;
    padding: 10px;
}

.img-one {
    background-image: url(img/monitor.jpg);
}

.img-two {
    background-image: url(img/graph.jpg);
}